*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.anchorSignUp{
    font-size: 1rem;
}

.login{
    background-color: lime;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.reset{
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}